body {
  background-color: $white;
  margin: 0;
}

.external-link {
  cursor: pointer;
  color: $green;
  font-family: $sans-bold;

  .fa {
      color: $navy;
  }
}

.external-link:hover {
  color: $navy;
}